{% extends 'base.html' %}
{% block 'content' %}
{% load static %}
<center>
	<!-- -->

<!--add logic  -->
{% if my_answer %}
<!--pop up box for wrong answer pass in color -->
<div class="alert alert-{{ color }} alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> {{ my_answer }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>	
<!--end logic for pop up box  -->
{% endif %}
<br/>
<br/>
<br/>

	
	<h1><img src="/static/img/{{ num_1 }}.png"> + <img src="/static/img/{{ num_2 }}.png"></h1>
	<br/>
	<br/><br/>

	<form action="{% url 'addition' %}" method="POST">
		{% csrf_token %} <!--1.add a hidden token to protect our form  -->

  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Type Your Answer Here" name= "answer" >
    <input type="hidden" name="old_num_1" value="{{ num_1 }}"> 
    <input type="hidden" name="old_num_2" value="{{num_2}}"> 

  </div>

  <br/>
  <button type="submit" class="btn btn-secondary">Submit</button>
</form>


<br/>
</center> 
  
{% endblock %}

 